#header {
  background-color: var(--primary-bg-color) !important;
}

.contact-section {
  background-color: var(--primary-bg-color) !important;
  padding: 100px 0 !important;
}
.contact-heading {
  background-image: linear-gradient(
    to right,
    #ffbbe6,
    #5ccaff
  ) !important;
  -webkit-background-clip: text !important; 
  color: transparent !important; 
}
b {
  color: white;
}
.map-container iframe {
  width: 100%;
  height: 500px;
}
